.profile-icon img {
    width: 10rem;
    border-radius: 50px;
}
.thead,
.thead h4 {
    background-color: #ad60e6;
    color: white;
}
.user-info p {
    font-family: "Roboto Flex", cursive;
    font-weight: 600 !important;
}
